<h1> {{title}} </h1>

<app-aggiungi-pi (newPostEvent)="addPost($event)"></app-aggiungi-pi>
<ul>
  <!-- 
    *ngFor (abbreviazione di ngForOf) itera sull'array cities e stampa i valori degli oggetti al suo interno
  !-->
  <li *ngFor='let postit of postits'>
    <!--<p>{{postit.testo.slice(0,9)}}...</p>
    [selezionato]="selezionato"
    -->
    {{postit}}
    <button (click)='seleziona(postit.testo)'>apri</button>
  </li>
</ul>

<button (click) = 'test()'>test</button>
<app-visualizza-pi  > </app-visualizza-pi>
